<html>
    <head>
        <title></title>
        <link rel="stylesheet" type="text/css" href="main.css" />
    </head>
    <body>
        <div id="app">
            <h1>{{ message }}</h1>
            <button v-on:click="toggle">toggle</button>
            <transition name="fade">
                <span v-if="seen">Now you see me</span>
            </transition>
            <input type="text" v-model="message" />
        </div>
        <div id="app2"> 
            <span v-bind:title="message">
                Hover this! 
            </span>
            <br/>
            <ol>
                <li v-for="todo in todos">
                    {{ todo.text }}
                </li>
            </ol>
        </div>
        <div id="app3">
            <ol>
                <!--
                Now we provide each todo-item with the todo object
                it's representing, so that its content can be dynamic.
                We also need to provide each component with a "key",
                which will be explained later.
                -->
                <todo-item
                v-for="x in groceryList"
                v-bind:i="x"
                v-bind:baze="555"
                v-bind:key="x.id">
                </todo-item>
            </ol>
            <div><a v-bind:href="href" target="_blank">{{href}}</a></div>
            <br/>
            <input type="text" v-model="msg" />
            <button @click="alert(msg)">alert</button>
            
        </div>

        <!-- development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script>
            var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!',
                seen: false,
                
            },
            methods: {
                toggle: function () {
                    this.seen = !this.seen;
                },
            },
            });
            var app2 = new Vue({
            el: '#app2',
            data: {
                message: 'title hover!',
                todos: [
                    { text: 'Learn JavaScript' },
                    { text: 'Learn Vue' },
                    { text: 'Build something awesome' },
                ],
            }
            })
            Vue.component('todo-item', {
                props: ['i', 'baze'],
                template: '<li>{{ i.text + baze}}</li>'
            });

            var app3 = new Vue({
                el: '#app3',
                data: {
                    groceryList: [
                    { id: 0, text: 'Vegetables' },
                    { id: 1, text: 'Cheese' },
                    { id: 2, text: 'Whatever else humans are supposed to eat' }
                    ],
                    href: 'https://google.com',
                    msg: 'hey',
                },
                methods: {
                    alert: function(msg) {
                        alert(msg);
                    },
                },
            });
        </script>
    </body>
</html>